.wrapper-burger {
  width: 1180px;
  background-color: black;
  position: fixed;
  top: 0;
  color: rgb(255, 255, 255);
  text-align: left;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
#check-menu {
  display: none;
}
label {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}
.burger-line {
  position: absolute;
  top: 8px;
  width: 35px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.884);
  left: 10px;
}
.second,
.third {
  top: 18px;
}
.fourth {
  top: 28px;
}
.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgb(0, 0, 0);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}
.burger-link {
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-top: 1px solid;
}
#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}
#check-menu:checked ~ .first {
  display: none;
}
#check-menu:checked ~ .second {
  transform: rotate(45deg);
}
#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth {
  display: none;
}
body {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 30px;
}
.wrapper {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
}
.left-column {
  margin-top: 50px;
  float: left;
  width: 50%;
}
.right-column {
  margin-top: 50px;
  float: right;
  width: 50%;
}
header > img {
  border-radius: 50%;
}
header {
  background-color: blanchedalmond;
}
.skills {
  background-color: brown;
}
.contacts {
  background-color: darkorange;
}
.about-myself {
  background-color: deeppink;
}
.education {
  background-color: aqua;
}
.maybe-aside {
background-color: gold;
}
.my-footer {
  background-color: lemonchiffon;
}
